@import "normalise.css";

/* GENERAL */

:root {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
}

/* LEFT SIDE */

.left {
    display: flex;
    flex: 40%;
    flex-direction: column;
    background-image: url('img/background.jpg');
    background-size: cover;
    height: 100vh;
    color: white;
    border-right: 2px solid rgb(213, 213, 213);
}

.overlay {
    display: flex;
    margin-top: 30vh;
    align-items: center;
    text-align: center;
    font-size: 2.75rem;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    min-height: 150px;
}

.logo {
    flex: 1;
    background-image: url('img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 120px;
}

.caption {
    flex: 1;
    text-transform: uppercase;
}

.credits {
    position: absolute;
    left: 2vh;
    bottom: 0;
    font-size: 0.5rem;
    opacity: 60%;
}

/* RIGHT SIDE */

.right {
    display: flex;
    flex: 60%;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    color: black;
    height: 100vh;
}

.top {
    border-left: 0.1px solid rgb(213, 213, 213);
    min-height: 200px;
    margin-top: 4vh;
}

.top>p {
    margin-left: 5vh;
    margin-bottom: 3vh;
    width: 66vh;
    font-size: 1.2rem;
}

.formular {
    position: relative;
    gap: 0.2rem;
    min-height: 375px;
    background-color: white;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
    border: 0.1px solid rgb(213, 213, 213);
    height: 33vh;
    flex: 50%;
    margin-top: -5vh;
}

.formular>p {
    margin: 5vh;
    font-size: 1.2rem;
}

.footer {
    border-left: 0.1px solid rgb(213, 213, 213);
    display: fixed;
    min-height: 100px;
    bottom: 5vh;
    left: 5vh;
}

.footer-txt {
    display: fixed;
    min-height: 100px;
    bottom: 5vh;
    margin-left: 5vh;
    margin-top: 0;
}

.hl {
    color: #560928;
}

/* FORM */

input {
    box-shadow: 0 0 0 1px black;
    margin-bottom: 1vh;
    display: block;
    width: 250px;
}

label {
    display: inline-block;
    margin-top: 2.5vh;
}

form {
    width: 60%;
    margin: 5vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8vh 8vh;
}

button {
    background-color: #560928;
    color: white;
    border-radius: 7px;
    width: 220px;
    height: 3.2rem;
    cursor: pointer;
    margin: 5vh;
    margin-top: 10vh;
    margin-bottom: 2vh;
}

button:hover {
    background-color: #89284f;
}

button:active {
    transform: translateY(2px);
    transform: translateX(2px);
}

/* FIXES */

.iconfix {
    margin-top: 8.5px;
}

/* FORM VALIDATION */

#validation,

i {
    position: absolute;
    visibility: hidden;
    font-size: 0.8rem;
}

/* INPUT CHECK BORDER */

input.ok {
        border: 2.8px solid rgb(14, 156, 14);
}

input.notok {
    border: 2.8px solid rgb(242, 38, 38);
    animation: shake 0.55s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* INPUT CHECK ICON */

.error.true>.fas.fa-circle-xmark {
    visibility: visible;
    color: rgb(242, 38, 38);
}

.error.true>.fas.fa-circle-check {
    visibility: hidden;
}

.error.false>.fas.fa-circle-check {
    visibility: visible;
    color: rgb(14, 156, 14);
}

.error.false>.fas.fa-circle-xmark {
    visibility: hidden;
}


/* MEDIA QUERIES */

@media screen and (max-width: 900px) {

    .container {
        flex-direction: column;
    }

    :root {
        overflow: auto;
    }
}