@import "normalise.css";

:root {
    box-sizing: border-box;
}

.container {
    display: flex;
}

.left {
    border: 1px solid red;
    background-image: url('img/background.jpg');
    background-size: cover;
    height: 100vh;
    flex: 1;
}

.right {
    border: 1px solid red;
    flex: 1;
}

.overlay {
    border: 1px solid red;
    background-color: black;
    color: white;
    opacity: 50%;
    height: 20%;
    width: 100%;
    text-align: center;
}



.header {
    border: 1px solid red;

}

.form {
    border: 1px solid red;

}

.footer {
    border: 1px solid red;

}